html, body, #map {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}

#me {
    background-color: #0033FF;
    opacity: .85 !important;
    z-index: 500 !important;
    height: 25%;
    width: 50%;
    border-radius: 0%;
    border-width: 0px;
    position: absolute;
    bottom: 0;
    margin-right: 0%;
    margin-left: 0%;
    margin-bottom: 5%;
    cursor: pointer;
    font-size: 10%;
    color: white;
    border-radius: 0%;
}

