.title {
    color: #FDFFFF ! important;
    font-family: felix titling, sans-serif;
    font-size: 80px !important;
    margin-top: 50px;
}

.line {
    margin-bottom: 50px;
    margin-top: 75px;
}

.button {
    display: inline;
    background-color: #7DDFAF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

body {
    background-color: #4E79C6 !important;
}



.profile {
    width: 20%;
    height:auto;
    margin-top: 50px! important;
}

.planes {
    width: 50%;
    height: auto;
}

.jumbotron text-center {
  color: #FDFFFF ! important;
}

.resline {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    color: black;
}

.sections {
    font-family: felix titling, sans-serif;
}

.paragraph {
    margin-left: 25%;
    margin-right: 25%;
}

.maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        margin-bottom: -35% !important;
}

 .maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 50% !important;
        height: 50% !important;
        margin-left: 25%;
        margin-right: 25%;
 }
