.title {
    color: #FDFFFF ! important;
    font-family: felix titling, sans-serif;
    font-size: 80px !important;
    margin-top: 50px;
}

.line {
    margin-bottom: 50px;
    margin-top: 75px;
}

.button {
    display: inline;
    background-color: #7DDFAF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

body {
    background-color: #4E79C6 !important;
}

.maps {
    margin-top: 200px;
}

.profile {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

profile:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.planes {
    width: 50%;
    height: auto;
}

.jumbotron text-center {
  color: #FDFFFF ! important;
}

.resline {
    margin-bottom: 50px;
    margin-top: 50px;
}

.container {
    color: black;
}

.sections {
    font-family: felix titling, sans-serif;
}

.paragraph {
    margin-left: 25%;
    margin-right: 25%;
}

.google-maps {
        position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
        margin-bottom: -35%;
    }
    .google-maps iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 50% !important;
        height: 50% !important;
        margin-left: 25%;
        margin-right: 25%;
    }
