.title {
    color: #FDFFFF ! important;
    font-family: felix titling, sans-serif;
    font-size: 80px !important;
    margin-top: 50px;
}

.line {
    margin-bottom: 50px;
    margin-top: 50px;
}

.button {
    display: inline;
    background-color: #7DDFAF;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 3%;
    margin-right: 3%;
}

body {
    background-color: #4E79C6 !important;
}

.bio {
    margin-top: 200px;
}

.maps {
    margin-top: 200px;
}

.profile {
    width: 25%;
    height:auto;
    margin-top: 100px! important;
}

.australia {
    width: 55%;
    height: auto;
    margin-top: 100px;
}

.planes {
    width: 70%;
    height: auto;
}

.jumbotron text-center {
  color: #FDFFFF ! important;
}
.paragraph {
    margin-left: 12.5%;
    margin-right: 12.5%;
}
