html, body, #map {
    width: 100%;
    height: 100%;
    position: relative;
    margin-bottom: 0 !important;
    margin: 0;
}

banner{
    z-index: 1000 !important;
    height: 85px;
    width: 100%;
    font-size: 50px;
    color: #ffffff;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #637181;
    opacity: .85;
    position: top;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: -10%;
    bottom: 1%;
    text-align: center;
    border-radius: 0%;
}


#me {
    background-color: transparent;
    opacity: 150 !important;
    z-index: 500 !important;
    min-height: 50px;
    width: 100%;
    border-radius: 0%;
    border-width: 0px;
    position: absolute;
    bottom: 10%;
    cursor: pointer;
    font-size: 24px;
    color: springgreen;
    display: inline-block;
    text-align: center;
    font-weight: 700;
    outline: none;
}

me:hover {
	background-color: #00B1FF;
    color: darkslategray;
	}

#go {
    background-color: #00B1FF;
    opacity: .95 !important;
    z-index: 500 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 130px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: darkslategray;
    text-align: center;
    padding-top: 5px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

#go:hover {
	background-color: springgreen;
    color: #00B1FF;
	}

#add {
    background-color: #00B1FF;
    opacity: .95 !important;
    z-index: 500 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 80px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: darkslategray;
    text-align: center;
    padding-top: 8px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

#add:hover {
	background-color: springgreen;
    color: #00B1FF;
	}


#submit {
    background-color: #00B1FF;
    opacity: 100 !important;
    z-index: 5000 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 130px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: darkslategray;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

#submit:hover {
	background-color: springgreen;
    color: #00B1FF;
	}

#back {
    background-color: #00B1FF;
    opacity: 100 !important;
    z-index: 5000 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 80px;
    right: 10px;
    cursor: pointer;
    font-size: 14px;
    color: darkslategray;
    text-align: center;
    padding-top: 8px;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
    outline: none;
}

#back:hover {
	background-color: springgreen;
    color: #00B1FF;
    
	}

#header
{
 z-index: 10000;
 position: fixed;
 width:100%;
 background-color: springgreen;
 margin-top:0px;
 padding:0px;
 height:70px;
 border-bottom:2px solid #00B1FF;
}

#header li
{
 list-style-type:none;
 text-align:center;
}

#header #sitename a
{
 color:#00B1FF;
 text-decoration:none;
 line-height: 1;
 font-size: 56px;
 font-weight: 900;
}
