html, body, #map {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
}


banner{
    z-index: 1000 !important;
    height: 10%;
    width: 30%;
    font-size: 70px;
    color: #FFFFFFFF;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #0033FF;
    opacity: .85;
    position: top;
    padding-top: 1%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: -10%;
    bottom: 1%;
    text-align: center;
    margin-bottom: 800px;
    margin-left: 34%;
    border-radius: 0%;
}


#me {
    background-color: #FF0000;
    opacity: 150 !important;
    z-index: 500 !important;
    height: 75px;
    width: 50%;
    right: 25%;
    left: 25%;
    border-radius: 0%;
    border-width: 0px;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 27px;
    color: white;
    border: solid;
    border-width: 3px;
    border-color: white;
    border-radius: 5px;
    text-align: center;
}

#me:hover {
	background-color: #FF3621;
	}

#add {
    background-color: #00B1FF;
    opacity: .95 !important;
    z-index: 500 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 14px;
    color: white !important;
    text-align: center;
    padding-top: 10px;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
}

#add:hover {
	background-color: #00EAFF;
	}


#submit {
    background-color: #FF0000;
    opacity: 100 !important;
    z-index: 500 !important;
    height: 75px;
    width: 20%;
    right: 40%;
    left: 40%;
    position: absolute;
    bottom: 30px;
    cursor: pointer;
    font-size: 27px;
    color: white !important;
    text-align: center;
    padding-top: 17px;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
}

#submit:hover {
	background-color: #FF3621;
	}

#back {
    background-color: #00B1FF;
    opacity: 100 !important;
    z-index: 5000 !important;
    height: 40px;
    width: 60px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 14px;
    color: white !important;
    text-align: center;
    padding-top: 10px;
    text-decoration: none;
    border: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 5px;
    font-weight: 700;
}

#back:hover {
	background-color: #00EAFF;
	}
